/** 色彩 */

// 主色
$primary-color: #409EFF;
// 主色 (hover)
$primary-light-color: #5CADFF;
// 主色 (active)
$primary-dark-color: #2B85E4;

// 辅助色 (除了主色外的场景色, 需要在不同的场景中使用, 例如危险色表示危险的操作)
// 成功
$success-color: #67C23A;
// 警告
$warning-color: #E6A23C;
// 危险
$danger-color: #F56C6C;
// 信息
$info-color: #909399;

// 中性色 (用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。)
// 主要文字
$primary-font-color: #303133;
// 常规文字
$standard-font-color: #606266;
// 次要文字
$secondary-font-color: #909399;
// 占位文字
$placeholder-font-color: #C0C4CC;
// 一级边框
$border-color-1: #DCDFE6;
// 二级边框
$border-color-2: #E4E7ED;
// 三级边框
$border-color-3: #EBEEF5;
// 四级边框
$border-color-4: #F2F6FC;
// 背景
$background-color: #F8F8F9;
// 分割线
$divider-color: #E8EAEC;
// 失效
$disabled-color: #C5C8CE;

/** 字体 */

// 对字体进行统一规范，力求在各个操作系统下都有最佳展示效果。
$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// 辅助文字
$font-size-xs: 12px;
// 正文 (小)
$font-size-s: 13px;
// 正文
$font-size-m: 14px;
// 小标题
$font-size-l: 16px;
// 标题
$font-size-xl: 18px;
// 主标题
$font-size-xxl: 20px;
